{% extends 'base.html' %}
{% block content %}

<!-- pass user object to this page, and use user object to look up user details and details on movies rated -->
<h3>Movie Title: {{ movie.title }}</h3>

<h3>Ratings Received</h3>

<!-- Need to add form validation to ensure user is logged in and input val is single int -->
<form action='/submit_rating' method="POST" id='update_form'>
<input type='hidden' name='movie_id' value={{ movie.movie_id }}>
<label>Enter your rating for this movie here: <input type='number' name='user_rating' id='user_rating'></label>
<input type='submit'>
</form>

{% if user_rating %}
<h3>You rated this movie {{ user_rating }}</h3>
{% endif %}

{% if not user_rating %}
<h3>We predict you will rate this movie: {{ prediction }} </h3>
{% endif %}

<br>

<table>
    <tr><th>User ID</th>
    <th>Rating</th></tr>
    {% for rating in movie.ratings %}
    <tr><td>{{ rating.user_id }}</td>
        <td>{{ rating.score }}</td></tr>
    {% endfor %}
</table>

<!-- 
<script type="text/javascript">

function submitAlert(result){
    alert(result);
}

function submitRating(evt) {
    evt.preventDefault();

    var formInputs = {
        'user_rating': $('#user_rating').val(),
        'movie_id': {{ movie.movie_id }}
    };

    $.post('/submit_rating', formInputs, submitAlert);
}

$('#update_form').on('submit',submitRating);

</script>
 -->
{% endblock %}